.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-item {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.li-container {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.circle {
  border-radius: 100%;
  height: 25px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 25px;
}
.head-1 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.comment-1 {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cont-1 {
  display: flex;
  flex-direction: column;
  height: 40px;
  min-width: 600px;
  flex-grow: 1;
}
last-line {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.like-icon {
  height: 20px;
}
.like-btn {
  background-color: transparent;
  border: none;
}
.delete-btn {
  background-color: transparent;
  border: none;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
